.composition-list__item {
    display: flex;
    margin-bottom: rem(20px);
    align-items: center;
    justify-content: space-between;
    &:last-child {
        margin-bottom: 0;
    }

}

.composition-desc {
    display: inline-flex;
}

.composition-list {
    background-color: #ffffff;
    opacity: 0;
    padding-top: rem(20px);
    padding-left: rem(40px);
    padding-right: rem(40px);
    padding-bottom: rem(20px);
    border-radius: 3%;
    position: absolute;

    transition: opacity .4s;
    right: -9999px;
 

    transform: translateX(rem(90px));
 
 
    @include tablets {
        transform: translateX(rem(105px));
        padding: rem(40px);
    @include phones {
        transform: translateX(rem(75px));
        top: rem(20px);
    }
    };
    
}
.item__composition {
    cursor: pointer;
}
.composition__name {
    color: #2f3234;
@include ubuntu;
font-size: 14px;
font-weight: 500;
line-height: 24px;
margin-right: rem(20px);
}

.composition__amount {
color: #2f3234;
@include ubuntu;
}

.item__composition-pic {
    margin-right: rem(20px);
}

.item__composition:hover {
 background: #e35028;
}

.composition-desc:hover .composition-list {
    opacity: .9;
    transition: 0.4s ease;
    right: inherit;
}

.composition-desc:hover .composition-menu-close__bars {
    @include tablets {
        display: contents;
    }
    @include phones {
        display: contents;
    }

}


.composition-menu-close {
        vertical-align: middle;
        height: rem(40px);
        align-items: center;
        display: none;
        position: absolute;
        transform: translateX(rem(340px));
        //right: 50px;
        //top: 30px;
    
        @include tablets {
            display: inline-flex;
        }
        @include phones {
            height: rem(60px);
        }
    }
.composition-menu-close__bars {
    
           //display: contents;
           display: none;
        &, &:before, &:after {
            background: #e35028;
            width: rem(24px);
            height: rem(5px);
            border-radius: rem(3px);
        }
    
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
        &:before {
            transform: rotate(45deg);
        }
    
        &:after {
            transform: rotate(-45deg);
        }
    }

.no-hover {
    background-color: #ffffff;
    opacity: 0;
    padding-top: rem(20px);
    padding-left: rem(40px);
    padding-right: rem(40px);
    padding-bottom: rem(20px);
    border-radius: 3%;
    position: absolute;

    transition: opacity .4s;
    right: -9999px;
 

    transform: translateX(rem(90px));
 
 
    @include tablets {
        transform: translateX(rem(105px));
        padding: rem(40px);
    }
    @include phones {
        transform: translateX(rem(75px));
        top: rem(20px);
    }
    
}