


//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//breakponts
$tablets: 768px;
$phones: 480px;

//media
@import "./_misc/media";


//normalize

@import "./_misc/normalize.scss";


// setups
@import "./_misc/mixins";
@import "./_misc/fonts";
@import "./_misc/layout";


//blocks
@import "./blocks/*.scss";
