.slider-menu {
    background: linear-gradient(to top, #f9b43b 20%, #ec8e39 50%, #f9b43b 80%);
    position: relative;
}

.slider {
    display: flex;
    flex-direction: row;
}

.slider__menu-content {
    display: flex;
    align-items: center;
}

.slider__menu-item, .slider__menu-desc {
    width: 40%;
}

.slider__item-title {
color: #ffffff;
@include gagalin;
font-size: 72px;
font-weight: 400;
line-height: 63.93px;
}

.slider__item-desc {
color: #ffffff;
@include ubuntu;
font-size: 14px;
font-weight: 300;
line-height: 23.97px;
margin-bottom: rem(36px);
}

.slider__item-order {
    display: flex;
    align-items: baseline;
}

.slider__item-price {
    font-size: 72px;
letter-spacing: -1.79px;
color: #e35028;
@include gagalin;
font-weight: 400;
line-height: 28.08px;
}

.slider__item_valute {
    letter-spacing: -0.75px;
    color: #e35028;
@include gagalin;
font-size: 30px;
font-weight: 400;
line-height: 28.08px;
margin-right: rem(28px);
}

.item__composition {
    width: 90px;
height: 90px;
background-color: #f08c33;
//opacity: 0.4;
border-radius: 5%;
position: relative;
}

.composition__title {
    color: #ffffff;
    @include gagalin;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.11px;
}

.item__composition-desc {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
}

.calories {
    width: 90px;
    height: 90px;
    position: relative;
}

.calories__quantity {
  
    opacity: 0.5;
color: #ffffff;
@include gagalin;
font-size: 20px;
font-weight: 400;
line-height: 24px;

}

.calories__desc {
    position: relative;

 
}

.calories__pic, .calories__quantity {
    position: absolute;
    transform: translate(-50%, -70%);
    top: 60%;
    left: 50%;
}

.calories__title {
    opacity: 0.5;
color: #ffffff;
@include gagalin;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: center;
position: absolute;
transform: translate(-50%, -60%);
top: 40%;
left: 50%;


}
